<!DOCTYPE html>
<html>
  <head>
    <!-- Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <!-- Main CSS -->
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="container">
      <!-- Logo -->
      <div class="row">
        <div class="col s12">
          <div id="logo-container">
            <a href="/">
              <div id="logo"></div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <section>
          <div class="resetCards"><a href="#">Restart</a></div>
          <ol class="slider-list">
            <li class="slide">
              <img src="http://lorempixel.com/300/200" alt="img01"/>
              <p class="message">
                  John would probably prefer meetings with <span class="subject">an structured agenda</span>.
              </p>    
            </li>
            <li class="slide">
              <img src="http://lorempixel.com/300/200?????" alt="img01"/>
              <p class="message">I think John is very <span class="subject">meticulous and careful</span> at work.</p>
              
            </li>
            <li class="slide">
              <img src="http://lorempixel.com/300/200????" alt="img01"/>
              <p class="message">John seems to be a <span class="subject">creative</span> person.</p>      
            </li>
            <li class="slide">
              <img src="http://lorempixel.com/300/200???" alt="img01"/>
              <p class="message">John needs to have <span class="subject">only an idea of the end goal</span> when working on a new project.</p>
            </li>
            <li class="slide">
                <img src="http://lorempixel.com/300/200??" alt="img01"/>
              <p class="message">John is usually <span class="subject">quiet around new people</span>.</p>
              
            </li>
            <li class="slide">
              <img src="http://lorempixel.com/300/200?" alt="img01"/>
               <p class="message">
                  In general, John's workstyle tends to be  <span class="subject">methodical</span>.
              </p>  
              
            </li>
          </ol>
        </section>
          <section class="options">
            <a href="#" class="disagree">&larr;No</a> | 
            <a href="#" class="skip">Skip&darr;</a> |
            <a href="#" class="agree">Yes&rarr;</a>
          </section>
          <section class="instructions">
            Swipe Left to REJECT, Right to ACCEPT or Down to SKIP  (or use Arrow Keys: &larr; &rarr; &darr; )
          </section>
        </div>
      </div>
    </div>
    <br />
    <!-- Footer -->
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="grey-text">Save Time, Save Money</h5>
            <p class="grey-text text-lighten-1">Use Receipt Sheep to streamline the receipt collecting, documentation and approval process.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <ul>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2015 Receipt Sheep
          <a class="grey-text text-lighten-1 right" href="https://github.com/justinthec/receiptsheep" target="_blank">GitHub</a>
        </div>
      </div>
    </footer>
    <!-- jQuery and Materialize JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>