<!DOCTYPE html>
<html>
  <head>
    <!-- Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <!-- Main CSS -->
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css"/>
    <link type="text/css" rel="stylesheet" href="stylesheets/queue.css"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="container">
      <!-- Logo -->
      <div class="row">
        <div class="col s12">
          <div id="logo-container">
            <a href="/">
              <div id="logo"></div>
            </a>
          </div>
        </div>
      </div>
      <!-- Buttons -->
      <div class="row">
        <div class="col s6">
          <a href="/" class="waves-effect waves-light btn-large upload">Home</a>
        </div>
        <div class="col s6">
          <a href="/upload" class="waves-effect waves-light btn-large queue">Upload</a>
        </div>
      </div>
      <!-- Approval Cards -->
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-image">
              <img src="scans/1442702406954.jpg">
              <span class="card-title-queue">Total: $50.23</span>
            </div>
            <div class="card-content">
              <!-- Purchase Line Items -->
              <p class="info-title">Purchase Items</p>
              <table class="striped">
                <thead>
                  <tr>
                      <th data-field="">Description</th>
                      <th data-field="" style="float: right;">Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Eclair</td>
                    <td style="float: right;">$0.87</td>
                  </tr>
                  <tr>
                    <td>Jellybean</td>
                    <td style="float: right;">$3.76</td>
                  </tr>
                  <tr>
                    <td>Lollipop</td>
                    <td style="float: right;">$7.00</td>
                  </tr>
                </tbody>
              </table>
              <!-- Business Information -->
              <br />
              <p class="info-title">Business Information</p>
              <table class="striped">
                <thead>
                  <tr>
                      <th data-field=""></th>
                      <th data-field=""></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Business Name</td>
                    <td style="float: right;">Swags R Us</td>
                  </tr>
                  <tr>
                    <td>Date</td>
                    <td style="float: right;">19/09/2015</td>
                  </tr>
                  <tr>
                    <td>Address</td>
                    <td style="float: right;">258 King St. N Waterloo, ON</td>
                  </tr>
                  <tr>
                    <td>Phone Number</td>
                    <td style="float: right;">(519) 747-2690</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="button-container">
                <div class="col s6">
                  <a class="waves-effect waves-light btn-large danger">Decline</a>
                </div>
                <div class="col s6">
                  <a class="waves-effect waves-light btn-large success">Approve</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <!-- Footer -->
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="grey-text">Save Time, Save Money</h5>
            <p class="grey-text text-lighten-1">Use Receipt Sheep to streamline the receipt collecting, documentation and approval process.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <ul>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2015 Receipt Sheep
          <a class="grey-text text-lighten-1 right" href="https://github.com/justinthec/receiptsheep" target="_blank">GitHub</a>
        </div>
      </div>
    </footer>
    <!-- jQuery and Materialize JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>