body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif !important;
}

a {
  color: #00B7FF;
}

#logo-container {
	margin: auto;
	max-width: 450px;
}
#logo {
	max-width: 450px;
	width: 100%;
	background-image: url("../images/receipt-sheep-logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 120px;
}
#logo:hover {
	background-image: url("../images/receipt-sheep-logo-2.png");
}
.upload {
	width: 100%;
}
.queue {
	background-color: #114C47;
	width: 100%;
}
footer.page-footer {
	background-color: #26a69a !important;
}

/* RECEIPT UPLOADING PAGE */
.upload-receipt {
	background-color: #373737 !important;
	margin-bottom: 25px;
}
.line-items {
	font-size: 18px;
}

/* QUEUE CARDS */
.card {
	max-width: 600px;
	width: 100%;
	margin: auto;
	-webkit-transition: 0s 2s all cubic-bezier(0.4, 0, 1, 1);
    -transition: 0s 2s all cubic-bezier(0.4, 0, 1, 1);
}
.card.approved {
	left: 400px;
}
.card-title-queue {
	text-shadow: 3px 3px 3px #000000;
}
.info-title {
	font-size: 20px;
	font-weight: bold;
	padding-top: 15px;
}
.button-container {
	padding-left: 20px;
	padding-right: 20px;
}
.button-container .success {
	background-color: #4caf50;
	width: 100%;
}
.button-container .success:hover {
	background-color: #1b5e20;
}
.button-container .danger {
	background-color: #ff5722;
	width: 100%;
}
.button-container .danger:hover {
	background-color: #bf360c;
}
.card.queuecard .card-image img {
	max-height: 250px;
}

/** FOOTER **/
footer.page-footer {
	background-color: #f2f2f2 !important;
}
footer.page-footer .footer-copyright {
	color: #9e9e9e;
}

/* TOAST STYLING */
.toast {
	background-color: #01579b;
}